.choicesContainer {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.answersBody {
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
  justify-content: center;
  @media (max-width: 700px) {
    flex-direction: column;
    margin-left: 10%;
  }
  @media (max-width: 450px) {
    flex-direction: column;
    margin-left: 0%;
  }
}
