@use "@/app/(default)/styles/variables.scss" as *;

.container {
  display: flex;
}

.avatarContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;

  @media (max-width: 400px) {
    width: 250px;
  }
}

.verified {
  width: 20px;
  height: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
}

.edit {
  cursor: pointer;
  color: $main-red;
  font-size: 20px;
  background-color: transparent;
}

.editAvatar {
  cursor: pointer;
  color: $main-red;
  font-size: 20px;
  margin-top: 10px;
  background-color: transparent;
  background-color: $main-red;
  border-radius: 10px;
  width: 100%;
  color: $main-light;
}

.username {
  display: flex;
  align-items: center;
}

.verified {
  margin-left: 5px;
}

.editInput {
  width: 100%;
  border-radius: 10px;
  border: 1px solid $main-red;
  outline: none;
  padding: 4px;
  font-size: 20px;
  background-color: transparent;
  color: $main-red;
}

.bioText {
  display: flex;
  align-items: center;
  max-width: 900px;
  white-space: normal;
  word-break: break-word; /* Жёсткий перенос, если слово не помещается */
}

.bioContainer {
  display: flex;
}

.edit {
  margin-left: 5px;
}

.editTextarea {
  width: 100%;
  border-radius: 10px;
  border: 1px solid $main-red;
  outline: none;
  padding: 4px;
  font-size: 16px;
  background-color: transparent;
  color: $main-red;
  font-weight: bold;
}
